body{
    background-image: url('backgroundimage.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    margin-bottom: 200px;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: center;
}
.items{
    margin-right: 30px;
}
.lnk{
    color: white;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 20px;
}
.multicolor{
    margin-top: 80px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    color: white;
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: black;
}
h2{ 
    font-size: 40px;
    text-align: center;
    color: white; 
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 100px;
}

.texting{
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.texting1{
    color: white;
    font-size: 20px;
    margin-right: 50px;
    margin-top: 30px;
    font-weight: 500;
    margin-left: 50px;
}

.address{
    color: white;
    margin-top: 100px;
    font-size: 20px;
}

@media screen and (max-width:600px)
{
    body{
        margin-bottom: 0px;
    }
    .lnk{
        font-size: 10px;
    }
    .multicolor{
        margin-top: 130px;
        font-size: 40px;
   }
   h2{ 
    font-size: 20px; 
    }
    p{
        font-size: 15px;
        text-align: center;
        margin-top: 100px;
        margin-left: 70px;
        margin-right: 20px;
    }
    .texting{
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 70px;
        margin-left: 20px;
    }
    .texting1{
        font-size: 14px;
        margin-top: 40px;
        margin-left: 40px;
    }
    .address{
        margin-bottom: 0px;
        font-size: 16px;
        margin-left: 20px;
    }
}